In [13]:
import pandas as pd
a = pd.read_csv('place_reviews.csv')
a

     place_name                                 review
0      μ΄νΈν…μ°ν•΄μμ•μ¥                                λ§ ν•„μ” μ—†μ
1      μ΄νΈν…μ°ν•΄μμ•μ¥     μ΄νΈν…μ° ν•΄λ³€ λΉ„μ¤λ” λ‚  λ°©λ¬Έν–λ”λ° μ΄μΉμκ³  λ„ μΆ‹λ„¤μ”!!!!
2      μ΄νΈν…μ°ν•΄μμ•μ¥                         μΆ‹μ•μ–΄μ” γ…γ… λ§λ“±λ€λ„λ³΄κ³µ
3      μ΄νΈν…μ°ν•΄μμ•μ¥  κ·€μ—¬μ΄ λ§λ“±λ€κ°€ μλ” ν•΄μμ•μ¥π…μ•„μ΄λ“¤ λ†€κΈ° μΆ‹μ€ ν•΄μν’€μ¥μ΄ μμ–΄μ”~
4      μ΄νΈν…μ°ν•΄μμ•μ¥                            μ μ£Όλ„ λ§μ§€λ§‰ μ—¬ν–‰μ§€
...         ...                                    ...
4186    ν•΄κ±°λ¦„λ§μ„κ³µμ›              ν’κ²½ μΆ‹μ•„μ” μ κΉ μ‰¬μ–΄κ°€κΈ° μΆ‹μ€ μΉ΄νλ„ μμ–΄μ”
4187     λ…Έν•κ·Όλ¦°κ³µμ›     κ³µμ› κ°•μ•„μ§€λ‘ κ±·κΈ°λ„ μΆ‹κ³  λ„“κ³  μ²λ„ λ§μ•„μ„ μμ—°κµ¬κ²½ λ”±μΆ‹μ•„μ”
4188       μ„λ³µκ³µμ›                                μ΅°κΈ μ•„μ‰½λ„¤μ”
4189       μ„λ³µκ³µμ›             μ •λ°©ν­ν¬ λ΄¤λ‹¤λ©΄ μ—¬κΈ°κΉμ§€ λ‘λ¬λ³΄κΈ°~ μ •μ› κµΏ~~
4190     μμ΄κ·Όλ¦°κ³µμ›                    μ—λΈμΌμΌν‚¤κΈ° μ‹μ„¤μ΄ μμ–΄μ„ μΆ‹μ•„μ”.

[4191 rows x 2 columns]

In [16]:
b = pd.read_csv('place_data.csv').drop('κ΄€κ΄‘μ§€ μ΄λ¦„', axis = 1)
b

,place_name,place_location,place_feature,place_star,operating_time
0,μ΄νΈν…μ°ν•΄μμ•μ¥,μ μ£ΌνΉλ³„μμΉλ„ μ μ£Όμ‹ μ΄νΈμΌλ™ 1665-13,"ν•΄μμ•μ¥,ν•΄λ³€",3.8μ,NaN
1,λ‚¨μ›ν°μ—‰ν•΄λ³€,μ μ£ΌνΉλ³„μμΉλ„ μ„κ·€ν¬μ‹ λ‚¨μ›μ νƒμ„λ΅ 522-17 (μ°)63620,"ν•΄μμ•μ¥,ν•΄λ³€",4.5μ,NaN
2,ν•¨λ•ν•΄μμ•μ¥,μ μ£ΌνΉλ³„μμΉλ„ μ μ£Όμ‹ μ΅°μ²μ μ΅°ν•¨ν•΄μ•λ΅ 525 (μ°)63333,"ν•΄μμ•μ¥,ν•΄λ³€",4.5μ,NaN
3,ν‘μ¬ν•΄μμ•μ¥,μ μ£ΌνΉλ³„μμΉλ„ μ μ£Όμ‹ ν•λ¦Όμ ν•λ¦Όλ΅ 329-10 (μ°)63011,"ν•΄μμ•μ¥,ν•΄λ³€",4.6μ,NaN
4,μ©λ¨Έλ¦¬ν•΄μ•,μ μ£ΌνΉλ³„μμΉλ„ μ„κ·€ν¬μ‹ μ•λ•λ©΄ μ‚¬κ³„λ¦¬,"ν•΄μμ•μ¥,ν•΄λ³€",4.6μ,09:00 ~ 17:00
...,...,...,...,...,...
784,μμ‚°μ²΄μ΅κ³µμ›,μ μ£ΌνΉλ³„μμΉλ„ μ„κ·€ν¬μ‹ μ„±μ‚°μ μμ†΅λ΅ 144 (μ°)63630,λ„μ‹κ·Όλ¦°κ³µμ›,NaN,NaN
785,μ‚Όλ§¤λ΄‰κ³µμ›,μ μ£ΌνΉλ³„μμΉλ„ μ„κ·€ν¬μ‹ μ„ν™λ™ 821,κ³µμ›,NaN,NaN
786,μ¨κ³¨κ³µμ›,μ μ£ΌνΉλ³„μμΉλ„ μ„κ·€ν¬μ‹ μ„νΈλ™ 1609,κ³µμ›,NaN,NaN
787,μ μ€μ΄μκ΄‘μ¥,μ μ£ΌνΉλ³„μμΉλ„ μ μ£Όμ‹ κ±΄μ…λ™,λ„μ‹κ·Όλ¦°κ³µμ›,NaN,NaN
788,μ‹ ν’ λ ν¬μΈ κ³µμ›,μ μ£ΌνΉλ³„μμΉλ„ μ„κ·€ν¬μ‹ μ„±μ‚°μ λ‚¨μ‚°λ΄‰λ΅ 247 (μ°)63636,λ„μ‹κ·Όλ¦°κ³µμ›,NaN,NaN

In [24]:
b['place_star'].value_counts()

5.0μ     32
4.5μ     18
4.6μ     15
4.0μ     14
4.3μ     10
3.0μ      9
4.1μ      8
4.7μ      7
4.4μ      7
3.7μ      5
4.8μ      5
3.5μ      5
4.2μ      5
3.9μ      4
1.0μ      4
3.8μ      4
2.7μ      3
2.0μ      3
4.9μ      3
3.3μ      3
2.9μ      2
3.6μ      2
1.8μ      2
3.4μ      1
1.7μ      1
2.5μ      1
3.2μ      1
2.4μ      1
Name: place_star, dtype: int64